/* master styling */
* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  flex-wrap: wrap;
}

.container {
  display: grid;
  /* 1 fractional unit (100%) - see this in developer mode */
  grid-template-columns: 1fr;
  flex-wrap: wrap;
}

/* navigational styling */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

.left-side {
  display: flex;
}

.right-side {
  display: flex;
  flex-wrap: wrap;
}

.nav-wrapper > .right-side > div {
  margin-right: 10px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

/* styling the links on navigation bar */
.nav-link-wrapper a {
  color: #1c2833;
  /* remove default link underline */
  text-decoration: none;
  /* half a second transition */
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid #abb2b9;
}

.nav-link-wrapper a:hover {
  color: #abb2b9;
}

/* So users know what page they are on */
.active-nav-link {
  border-bottom: 1px solid#abb2b9;
}

.active-nav-link a {
  color: #abb2b9 !important;
}

/* Project Styles */
.project-group-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-individual-wrapper {
  position: relative;
}

.project-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 65px;
  padding-right: 65px;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;

  color: #ffff33;
}

/* Creating a hover mode over the projects */
.img-darken {
  transition: 1s;
  filter: brightness(15%);
}

/* Contact Us Styling */
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Services Styling */
.one-column-wrapper {
  display: absolute;
  grid-template-columns: 1fr;
  width: 100%;
  flex-wrap: wrap;
}

.contact-image-wrapper {
  width: 100%;
}

.content-wrapper {
  padding: 40px;
}

.content-wrapper h1 {
  color: #abb2b9;
}

.content-wrapper p {
  color: #1c2833;
}

.search-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
  background: rgba(0, 0, 0.6);
  max-width: 550px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  /* put the search icon on same row using flex */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.searchbtn {
  background: #ffff33;
  width: 10%;
  border-radius: 5px;
  /* center */
  position: relative;
  cursor: pointer;
}

.searchbtn .fas {
  /* center icon */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
/* Resizing pages for multiple devices */
@media only screen and (max-width: 320px) {
  .right-side {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 320px) {
  .left-side {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 320px) {
  .project-group-wrapper {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
}
