/* master styling */
* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  flex-wrap: wrap;
}

.container {
  display: grid;
  /* 1 fractional unit (100%) - see this in developer mode */
  grid-template-columns: 1fr;
  flex-wrap: wrap;
}
/* end master styling */

/* navigational styling */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

.left-side {
  display: flex;
}

.right-side {
  display: flex;
  flex-wrap: wrap;
}

.nav-wrapper > .right-side > div {
  margin-right: 10px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

/* styling the links on navigation bar */
.nav-link-wrapper a {
  color: #1c2833;
  /* remove default link underline */
  text-decoration: none;
  /* half a second transition */
  transition: 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid #abb2b9;
}

.nav-link-wrapper a:hover {
  color: #abb2b9;
}

/* So users know what page they are on */
.active-nav-link {
  border-bottom: 1px solid#abb2b9;
}

.active-nav-link a {
  color: #abb2b9 !important;
}

/* Responsive Navigation Mobile menu */
.hamburger {
  border: 0;
  display: none;
  color: #abb2b9;
  cursor: pointer;
  font-size: 23px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.hamburger.focus {
  outline: none;
}

.mobile-navigation-wrapper {
  position: fixed;
  right: 0px;
  top: 0px;
  user-select: none;
  display: none;
  z-index: 2;
  display: none;
}

.mobile-menu {
  margin-top: 70px;
}

.navigation-menu-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffff33;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 1;
}

.navigation-menu-wrapper .nav-link-wrapper {
  border-bottom: unset;
  margin: 10px 0;
}

.navigation-menu-wrapper .nav-link-wrapper a {
  font-weight: 600;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

/* End of Navigational Styles */

/* Project Styles */
.project-group-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1199px;
  margin: auto;
}

.project-individual-wrapper {
  position: relative;
}

.project-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 65px;
  padding-right: 65px;
}

.img-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 2s;
}

.project-individual-wrapper:hover .img-backdrop {
  opacity: 1;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;

  color: #ffff33;
}

/* Creating a hover mode over the projects */
.img-darken {
  transition: 1s;
  filter: brightness(15%);
}

/* End of Project Styles */

/* Search bar */
.search-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  max-width: 550px;
  width: calc(100% - 10px);
  padding: 5px;
  border-radius: 10px;
}

.wrapper .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.searchbtn {
  background: #ffff33;
  border-radius: 5px;
  padding: 0 10px;
  border: unset;
  position: relative;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
}

.search-wrapper .input {
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  position: relative;
  bottom: 1px;
}

.search-wrapper .input ::placeholder {
  color: #fff;
}

button.searchbtn:hover {
  background-color: #1c2833;
  color: #ffff33;
}

.searchbtn .fas {
  /* center icon */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
/* End Search bar styling */

/* Products/Services Styling */
.one-column-wrapper {
  display: absolute;
  grid-template-columns: 1fr;
  width: 100%;
  flex-wrap: wrap;
}

.contact-image-wrapper {
  width: 100%;
  height: 300px;
  position: relative;
}

.contact-image-wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  padding: 40px;
}

.content-wrapper h1 {
  color: #abb2b9;
}

.content-wrapper p {
  color: #1c2833;
}

/* Products */
.product-wrapper span {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.product-item {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  margin: 10px;
  transition: 0.2s;
}

.product-item-thumb {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-item-price {
  font-size: 18px;
  color: #0b5027 !important;
  font-weight: 700;
}

.product-item-title {
  font-weight: 600;
  color: #abb2b9 !important;
}
/* End Products Styling */

/* Contact Us Styling */
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-group-wrapper {
  width: 100%;
}

.contact-group {
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.contact-info-wrapper {
  width: calc(100% - 100px);
  position: relative;
  margin: 0 auto;
}

/* Contact & Quote Form Styling */
.contact-group-wrapper input[type="text"],
.contact-group-wrapper select,
.contact-group-wrapper textarea {
  display: block;
  width: 100%;
  padding: 6px;
  border: 1px solid #abb2b9;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-group-wrapper input[type="submit"] {
  background-color: #ffff33;
  color: #1c2833;
  border-radius: 15px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
}
/* Style inputs */

/* end form styling */

/* Resizing pages for multiple devices */
@media (max-width: 900px) {
  .nav-wrapper {
    width: 100%;
    flex-direction: column;
    background-color: transparent;
  }

  .mobile-navigation-wrapper {
    display: block;
    align-items: flex-start;
    background-color: #ffff33;
  }

  .navigation-menu-wrapper {
    display: block;
  }

  .nav-wrapper.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .right-side {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .right-side {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 320px) {
  .left-side {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 320px) {
  .project-group-wrapper {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
}

/* contact us media queries */

@media (max-width: 1000px) {
  .contact-group {
    float: unset;
    width: 100%;
  }
}
